---
name: Build

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Main build
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t registry.gitlab.maxlamprecht.de/clubwork/registry/${{ github.event.repository.name }}:dev-${GITHUB_SHA}  .
    - name: Log into registry
      run: echo "${{ secrets.CLUBWORKREGISTRY }}" | docker login registry.gitlab.maxlamprecht.de -u maxlamprecht --password-stdin
    - name: Push image
      run: docker push registry.gitlab.maxlamprecht.de/clubwork/registry/${{ github.event.repository.name }}:dev-${GITHUB_SHA}
